/* @media only screen and (min-device-width : 1px) and (max-device-width:399px) */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) { */
/* @media only screen and (max-device-width : 400px) { */
@media only screen and  (max-width: 399px) {
/* { */
   /*mobile*/
    *{
      margin: 0px;
      padding: 0px; 
   }
   .container_12{ 
      width: 100%;
   }
   .grid9{
      width:100%;
      display: none;
   }
   .grid3{
      display: none;
   }
    .footer{
       display: none;
    }
    .header>.img1{
       display:none;
    }
     
  .mbbtn1,.mbbtn2,.mbbtn3,.mbbtn4,.mbbtn5{ /* �ㅻえ���됰같寃�*/
    position:absolute;
   height: 23%;
   font-size: 10pt;
   font-weight: bold;  
   color: white;
   border: none;     
   
 } 
 .mbbtn1{ 
 background-color: rgb(184,95,219);
 width: 42%;   
 margin-top: 4%;   
 margin-left: 5%;     
 }   
 .mbbtn2{
 background-color: rgb(19,173,235);
 width: 42%; 
 margin-top: 4%;  
 margin-left: 53%;   
 }   
 .mbbtn3{
 background-color: rgb(29,144,163);    
 width: 42%; 
 margin-top: 43%;    
 margin-left: 5%;
 }    
 .mbbtn4{ 
 background-color: rgb(227,53,132);
width: 42%; 
 margin-top: 43%; 
 margin-left: 53%;
 } 
 .mbbtn5{
 background-color: rgb(255,192,0);
 width: 89%;  
 margin-top: 82%;  
 margin-left: 5%;
 }
 body{                                 /* 諛뷀깢��寃���됱쑝濡�諛붽퓞 */
   background-color: black;
 }
#mbintro,#mbedu,#mbservice,#mbdept,#mbcustomer{ /* �섏� 湲�뵪 */
position:absolute;
font-weight: bold;
color:white;
text-decoration: none;
font-size: 20px;  
}
#mbintro{
margin-top:30px;
 margin-left: -23px;   
}
#mbedu{
margin-top: 30px; 
  margin-left: -18px; 
 }
#mbservice{
 margin-top: 30px; 
 margin-left: -36px; 
 }
#mbdept{
 margin-top: 30px;
  margin-left: -22px; 
 }
#mbcustomer{
  margin-top: 29px;  
  margin-left: -45px; 
 }
#mbimg1{                              /* �쏀넗洹몃옩 �대�吏�*/
position:absolute;
margin-top:-30%; 
margin-left:-25%;   
width:50%;       
height:50%;      
 }     
 #mbimg2{
position:absolute; 
margin-top:-27%; 
margin-left:-21%;  
width:42%;       
height:47%;             
 }
 #mbimg3{ 
position:absolute;
margin-top:-29%; 
margin-left:-25%;      
width:50%;      
height:47%; 
 }
 #mbimg4{
position:absolute;
margin-top:-25%; 
margin-left:-21%; 
width:42%;      
height:45%;   
 }
 #mbimg5{
position:absolute;
margin-top:-11%;
margin-left:-10%; 
width:22%;      
height:45%;
 }
 .nav,.nav2,.nav3,.nav4,.nav5,.nav6{         /* nav瑜��놁빊 */
display:none;
 }
 #mobileblock{                          /* �놁븻 nav�먮━瑜�鍮꾩� */
margin-top:20%;
 }
 #Hblogo{                               /* �쒕튆濡쒓퀬 */
position:absolute;
margin-top:-18%; 
margin-left:25%;
width:50%;
 }
 .mbform:hover{                           
 opacity:0.5;
 }

 #layerBtn,#layerBtn2,#layerBtn3,#layerBtn4,#layerBtn5 { /* 媛곴컖����*/
 cursor:pointer;
 }
 #lay,#lay2,#lay3,#lay4,#lay5 {            /* �앹뾽李�*/
 position:absolute; 
 height:50%; 
 width:100%; 
 margin-top:1%; 
 text-align:center; 
 z-index:160; 
 color:white;
 }
 #lay span, #lay2 span ,#lay3 span ,#lay4 span ,#lay5 span{ /* �リ린 */
 display:block; 
 position:absolute; 
 right:3%; 
 bottom:-50%; 
 cursor:pointer;
 }
 #blind_box {                                     /* �앹뾽李��댁쇅��諛뺤뒪 */
 position:absolute; 
 top:0; 
 left:0; 
 width:100%; 
 height:100%; 
 background:#000; 
 z-index:50;
 } 
 .mbt{                                          /* �앹뾽李�踰꾪듉 */
   margin-top:15px;
   width: 185px;
   height: 30px;
   font-size: 11pt;
   font-weight: bold;
   color: white;
   background-color: firebrick;
   border: none; 
 }
}


@media only screen and (min-width:400px){
   /*pc  **********************************************************************/
.mbbtn1,.mbbtn2,.mbbtn3,.mbbtn4,.mbbtn5, #Hblogo{
   display: none;
}    
 *{
      margin: 0px;
      padding: 0px;
   }
   .container_12{
      width: 1200px;
   }
   
   /* nav css  */
   .nav>ul>li a:hover{
         background-color: firebrick;
   }
   .nav{
      background-color: #333;
      height: 50px;
   }
   .nav>ul{
      margin: auto;
   }
   .nav>ul>li{
      list-style: none;
      width: 240px;
      background-color:  #333;
      float: left;
      margin: 12px 0px;
      text-align: center;
   }
   .nav>ul>li>a{
      color: white;
      text-decoration: none;
      padding: 12px 80px 17px 80px;
   }

   /* menu1 css  */
   .nav2{
      background-color: white;
      width: 240px;
      height: 280px;
      box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
     position:absolute;
      z-index: 1;
     margin-top:150px;
   }
   .nav2>ul{
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 200px; 
      text-align: center;
   }
   .nav2>ul>li{
      list-style: none;
      width: 220px;
      background-color: white;
      text-align: center;
      margin-left: -195px;
      text-indent: 0px;
      padding: 5px;
   
   }
   .nav2>ul>li:hover {background-color: #f1f1f1}
   
   .nav2>ul>li>a{
      color:#333;
      text-decoration: none;
   }
   
   /* menu2 css  */
   .nav3{
      background-color: white;
      width: 240px;
      height: 280px;
      margin-left: 0px;
      box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
       position:absolute;
      z-index: 1;
     margin-left:240px;
     margin-top:150px;
   }
   .nav3>ul{
      margin-top: 10px;
      margin-bottom: 20px;
   }
   .nav3>ul>li{
      list-style: none;
      width: 215px;
      margin-left:-80px;
      background-color: white;
      text-align: center;   
      margin: 5px 10px;
      padding: 5px;
      text-indent:-5px;
   }
   .nav3>ul>li:hover {background-color: #f1f1f1}
   .nav3>ul>li>a{
      color: #333;
      text-decoration: none;
   }
   
   /* nav4 css  */
   .nav4{
      background-color: white;
      width: 240px;
      height: 280px;
      margin-left: 0px;
      box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
     position:absolute;
      z-index: 1;
     margin-left:480px;
     margin-top:150px;
   }
   .nav4>ul{
        margin-top: 10px;
        margin-bottom: 20px;
   }
   .nav4>ul>li{
      list-style: none;
      width: 240px;
      background-color: white;
      text-align: center;   
      padding: 5px;
      text-indent: -20px;
   }
   .nav4>ul>li:hover {background-color: #f1f1f1}
   .nav4>ul>li>a{
      color: #333;
      text-decoration: none;
   }
   
   /* nav5 css  */
   .nav5{
      background-color: white;
      width: 240px;
      height: 280px;
      margin-left: 0px;
      box-shadow: 0px 5px 0px 0px rgba(0,0,0,0.1);
     position:absolute;
      z-index: 1;
       margin-left:720px;
     margin-top:150px;
   }
   .nav5>ul{
        margin-top: 10px;
        margin-bottom: 20px;
   }
   .nav5>ul>li{
      list-style: none;
      width: 240px;
      background-color: white;
      text-align: center;   
      padding: 5px;
      text-indent: -15px;
   }
   .nav5>ul>li:hover {background-color: #f1f1f1}
   .nav5>ul>li>a{
      color: #333;
      text-decoration: none;
   }
   
   /* nav6 css  */
   .nav6{
      background-color: white;
      width: 237px;
      height: 280px;
      margin-left: 0px;
      box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.1);
     z-index: 1;
     position:absolute;
     margin-left:960px;
     margin-top:150px;
   }
   .nav6>ul{
        margin-top: 10px;
        margin-bottom: 20px;
   }
   .nav6>ul>li{
      list-style: none;
      width: 220px;
      background-color: white;
      text-align: center;  
      padding: 5px;
      text-indent: 7px;
   }
   .nav6>ul>li:hover {background-color: #f1f1f1}
   .nav6>ul>li>a{
      color: #333;
      text-decoration: none;
   }
   
   /*  footer */
   .footer{
      height: 30px;
      background-color:  #333;
      color: white;
      text-align: center;
      font-size: 13px;
      padding-top: 5px;
      margin-top: 20px;
   }
   .err{
   font-size: 12px;
   color:red;
   text-decoration: underline;
   }

   
}